<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{layout/layout :: layout}">

<head>
	<title th:text="${title}">Order</title>
	<meta charset="UTF-8">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

	<link th:href="@{/css/order-form.css}" rel="stylesheet">
</head>

<body class="container">

	<div th:fragment="content">

		<h2 th:text="${operation}"></h2>

		<form th:action="@{/orders/save}" th:object="${orderForm}" method="post">

			<input type="hidden" th:field="*{orderId}" />

			<div class="mb-3">
				<label class="form-label">Descripción</label>
				<input class="form-control" th:field="*{orderDescription}" />
			</div>

			<th:block th:each="entry : ${itemsByCategory}">

				<h4 class="mt-4" th:text="${entry.key.name}"></h4>

				<div class="table-responsive">
					<table class="table align-middle">
						<thead>
							<tr>
								<th	>Producto</th>
								<th class="d-none d-md-table-cell">Precio</th>
								<th>Cantidad</th>
								<th>Total</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="item : ${entry.value}" th:data-price="${item.itemPrice}">

								<!-- Producto -->
								<td>
									<strong>[[${item.itemName}]]</strong><br>
									<small class="text-muted">
										[[${item.itemSize.name}]]
									</small>
								</td>

								<!-- Precio desktop -->
								<td class="d-none d-md-table-cell">
									$[[${#numbers.formatDecimal(item.itemPrice,0,'COMMA',2,'POINT')}]]
								</td>

								<!-- Cantidad -->
								<td>
									
									<div class="input-group input-group-sm" style="max-width:140px;">
										<button th:if="${action!='showDetails'}" class="btn btn-outline-secondary btn-minus" type="button">−</button>

										<input type="text" class="form-control text-center qty-input" readonly
											th:field="*{items[__${item.index}__].quantity}" />

										<button th:if="${action!='showDetails'}" class="btn btn-outline-secondary btn-plus" type="button">+</button>
									</div>

									<!-- Precio mobile -->
									<div class="d-block d-md-none mt-1 text-muted">
										Precio:
										$[[${#numbers.formatDecimal(item.itemPrice,0,'COMMA',2,'POINT')}]]
									</div>
								</td>

								<!-- Total -->
								<td>
									<span class="row-total">
										$[[*{#numbers.formatDecimal(items[__${item.index}__].total,0,'COMMA',2,'POINT')}]]
									</span>

									<input type="hidden" class="total-input"
										th:field="*{items[__${item.index}__].total}" />

									<input type="hidden" th:field="*{items[__${item.index}__].itemId}" />
								</td>

							</tr>
						</tbody>
					</table>
				</div>
			</th:block>
			
			<div class="mb-3">
				<label class="form-label">Costo de envío:</label>
				<input class="form-control total-input" th:field="*{shippingCost}" type="number" />
			</div>

			<!-- TOTAL -->
			<div class="sticky-bottom bg-white border-top p-3">
				<h5>
					Total:
					<span id="order-total">
						$[[*{#numbers.formatDecimal(total,0,'COMMA',2,'POINT')}]]
					</span>
				</h5>

				<button class="btn btn-primary w-100" th:text="${btnAction}">
				</button>
			</div>

			<input type="hidden" th:field="*{updateItems}" />
		</form>

		<script th:src="@{/js/order-form.js}"></script>
	</div>

</body>

</html>