<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<nav class="sidebar p-3" th:fragment="sidebar(active)">
		<ul class="nav flex-column">

			<!-- Getting started -->
			<li class="nav-item">
				<a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
					href="#gettingStarted">
					<span>Getting started</span>
					<i class="bi bi-chevron-right"></i>
				</a>
				<div class="collapse">
					<ul class="nav flex-column submenu">
						<li class="nav-item">
							<a class="nav-link" th:classappend="${active=='home'} ? 'active'" th:href="@{/}">
								Introduction
							</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="nav-item mt-2">
				<a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
					href="#orders">
					<span>Órdenes</span>
					<i class="bi bi-chevron-down"></i>
				</a>
				<div class="collapse show" id="orders">
					<ul class="nav flex-column submenu">
						<li lass="nav-item">
							<a class="nav-link" th:classappend="${active=='orders'} ? 'active'" th:href="@{/orders}">
								Órdenes
							</a>
						</li>
					</ul>
				</div>
			</li>

			<!-- Components -->
			<li class="nav-item mt-2" sec:authorize="hasRole('ADMIN')">
				<a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
					href="#configuration">
					<span>Configuración</span>
					<i class="bi bi-chevron-down"></i>
				</a>
				<div class="collapse show" id="configuration">
					<ul class="nav flex-column submenu">
						<li class="nav-item">
							<a class="nav-link" th:classappend="${active=='categories'} ? 'active'"
								th:href="@{/categories}">
								Categorías
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${active=='sizes'} ? 'active'" th:href="@{/sizes}">
								Tamaños
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${active=='products'} ? 'active'"
								th:href="@{/products}">
								Productos
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${active=='days'} ? 'active'" th:href="@{/businessday}">
								Día
							</a>
						</li>
					</ul>
				</div>
			</li>

			<!-- Logout -->
			<li class="nav-item mt-4" sec:authorize="isAuthenticated()">
				<form th:action="@{/logout}" method="post" class="d-inline">
					<button type="submit"
						class="nav-link btn btn-link text-start w-100 d-flex align-items-center gap-2">
						<i class="bi bi-box-arrow-right"></i>
						<span>Cerrar sesión</span>
					</button>
				</form>
			</li>

		</ul>
	</nav>

</body>

</html>