<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{layout/layout :: layout}">

<head>
	<title>${title}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<meta charset="UTF-8">
</head>

<body class="container">

	<div th:fragment="content">

		<h2>[[${title}]]</h2>
		<a th:href="@{/categories/new}" class="btn btn-primary mb-3">Agregar categoría</a>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th class="text-center" scope="col">Estatus</th>
					<th class="text-center" scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${categories}">
					<td>
						<span class="fw-bold">[[${category.name}]]</span>
					</td>
					<td class="text-center" th:text="${category.status} ? '✅' : '❌'"></td>
					<td class="text-center">
						<a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-warning btn-sm">Editar</a>
						<a th:href="@{/categories/delete/{id}(id=${category.id})}" class="btn btn-danger btn-sm">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</body>

</html>